# Quantlib - Tutorial

In [7]:
from src import quantlib as ql

In [8]:
%load_ext autoreload
%autoreload 2
#%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

#### Loading financial time series

In [11]:
tickers   = ["MSFT","AAPL","AMZN","NFLX","GOOG","KO","GE","IBM"]
startdate = "2011-12-31" 
enddate   = "2022-12-31"

In [12]:
assets = ql.getassets(tickers, startdate=startdate, enddate=enddate, datatype="Adj Close")
assets

,AAPL,AMZN,GE,GOOG,IBM,KO,MSFT,NFLX
Date,,,,,,,,
2012-01-03,12.500191,8.951500,86.231956,16.573130,117.096077,24.902027,21.413059,10.320000
2012-01-04,12.567370,8.875500,87.171318,16.644611,116.618393,24.745811,21.916996,11.492857
2012-01-05,12.706893,8.880500,87.124344,16.413727,116.065300,24.628654,22.140968,11.328571
2012-01-06,12.839728,9.130500,87.594009,16.189817,114.732773,24.472435,22.484917,12.327143
2012-01-09,12.819363,8.928000,88.580315,15.503389,114.135628,24.472435,22.188959,14.025714
...,...,...,...,...,...,...,...,...
2022-12-23,131.658981,85.250000,63.848557,89.809998,139.931198,63.820000,238.133545,294.959991
2022-12-27,129.831772,83.040001,64.668228,87.930000,140.691849,64.209999,236.367981,284.170013
2022-12-28,125.847855,81.820000,63.989071,86.459999,138.320984,63.570000,233.944031,276.880005
2022-12-29,129.412415,84.180000,65.378609,88.949997,139.348358,63.950001,240.407837,291.119995
2022-12-30,129.731918,84.000000,65.409836,88.730003,139.180420,63.610001,239.220825,294.880005

In [13]:
rets = ql.compute_returns(assets, mpor=1, ascending=True, dropna=True)
rets

,AAPL,AMZN,GE,GOOG,IBM,KO,MSFT,NFLX
Date,,,,,,,,
2012-01-04,0.005374,-0.008490,0.010893,0.004313,-0.004079,-0.006273,0.023534,0.113649
2012-01-05,0.011102,0.000563,-0.000539,-0.013871,-0.004743,-0.004734,0.010219,-0.014295
2012-01-06,0.010454,0.028152,0.005391,-0.013642,-0.011481,-0.006343,0.015534,0.088146
2012-01-09,-0.001586,-0.022178,0.011260,-0.042399,-0.005205,0.000000,-0.013162,0.137791
2012-01-10,0.003580,0.004368,-0.007423,0.001092,-0.001542,0.005948,0.003605,-0.023936
...,...,...,...,...,...,...,...,...
2022-12-23,-0.002798,0.017425,0.000245,0.017562,0.005466,0.007578,0.002267,-0.009370
2022-12-27,-0.013878,-0.025924,0.012838,-0.020933,0.005436,0.006111,-0.007414,-0.036581
2022-12-28,-0.030685,-0.014692,-0.010502,-0.016718,-0.016851,-0.009967,-0.010255,-0.025654
2022-12-29,0.028324,0.028844,0.021715,0.028799,0.007427,0.005978,0.027630,0.051430
2022-12-30,0.002469,-0.002138,0.000478,-0.002473,-0.001205,-0.005317,-0.004937,0.012916

In [113]:
#qt.compound(rets)

In [27]:
#qt.compound_returns(rets)

In [28]:
#qt.compute_logreturns(assets, mpor=5, ascending=True, dropna=True)

In [29]:
#qt.drawdown(assets, rets=False, maxd=True, percent=True)#.plot()

In [30]:
#qt.drawdown(assets, rets=False, maxd=True, percent=True)

In [31]:
#qt.drawdown(rets, rets=True, maxd=False, percent=True).plot()

In [32]:
#qt.drawdown(rets, rets=True, maxd=True, percent=True)

In [33]:
#qt.drawup(assets).plot()

In [34]:
#qt.is_normal(rets, siglev=0.05)

In [35]:
#qt.semistd(rets, negative=False)

In [36]:
#qt.annualize_returns(rets, ppy=252)

In [37]:
#qt.annualize_std(rets, ppy=252)

In [38]:
#qt.hvar(rets, CL=99/100) 
#qt.HVaR(rets, CL=99/100)
#qt.es(rets, CL=99/100)
#qt.ES(rets, CL=99/100)

In [39]:
#rets.kurt()
#qt.kurtosis(rets, excess=True)

In [40]:
#qt.hvar_normal(rets, CL=99/100, cf=False, ddof=1)

In [65]:
#qt.summary_stats(rets["AAPL"], CL=99/100)

In [90]:
#qt.summary_stats(rets, CL=99/100)

In [122]:
#qt.sample_cov(rets)
#qt.cc_cov(rets)
#qt.shrinkage_cov(rets, delta=0.3)